body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #87CEEB; /* Fondo azul claro */
    color: white; /* Texto blanco */
    padding: 20px;
    font-size: 2.5em;
}

h1 {
    color: white; /* Asegura que el texto del encabezado sea blanco */
}

nav {
    margin-top: 10px;
}

button {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

button:hover {
    background-color: #005f87;
    color: white;
    border-color: #005f87;
}

section {
    padding: 20px;
    background-color: white;
    margin: 40px auto;
    border-radius: 10px;
    width: 90%;
    max-width: 1200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #87CEEB;
}

h3 {
    font-size: 1.2em;
    color: #333;
}

img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

.service {
    background-color: #eee;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #87CEEB;
    color: white;
}

iframe {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: 2px solid #ddd;
}

footer {
    background-color: #87CEEB;
    color: white;
    padding: 25px;
    font-size: 1em;
    margin-top: 20px;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
    section {
        width: 95%;
        margin: 10px;
    }

    header {
        font-size: 1.8em;
    }

    button {
        padding: 8px 12px;
    }

    h1 {
        font-size: 2em;
    }
}


